Consider following code to answer further questions:

import pandas as pd

course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]

duration = [2,3,6,4]

df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [4]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [5]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Ans) loc is used to select rows and columns by Names/Labels.
iloc is used to select rows and columns by Integer Index/Position. zero based index position.

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.

In [15]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [19]:
new_df=  df.reindex([3,0,1,2])
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [20]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [21]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

The difference between the two is that .loc() considers the reindexed values and return the data according to the news indexes.

While .iloc() functions the default indexes, ignores the reindexed value. It provides the data according to the default system indexes i.e., 0,1,2 and so on.

In [22]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [23]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.311656  0.040135  0.748721  0.091662  0.813688  0.850573
2  0.132749  0.355162  0.008526  0.268384  0.491960  0.310709
3  0.411573  0.003152  0.554637  0.036485  0.153799  0.902220
4  0.254763  0.847075  0.228018  0.764958  0.013621  0.134771
5  0.911728  0.332711  0.984299  0.264677  0.971728  0.507925
6  0.904633  0.453706  0.811288  0.156522  0.252211  0.535833

Q4. Write a code to find the following statistical measurements for the above dataframe df1:

(i) mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [24]:
df1.mean()

column_1    0.487850
column_2    0.338657
column_3    0.555915
column_4    0.263781
column_5    0.449501
column_6    0.540338
dtype: float64

In [26]:
df1['column_2'].std()

0.3078027532048705

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.

[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [27]:
df1['column_2'][2] = "Replacing with string"

In [28]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Show this error: TypeError: unsupported operand type(s) for +: 'float' and 'str' because .mean() function can be applied only numeric data while object/str type doesn't supports .mean()

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

Ans) The Window functions in Pandas are used to perform some sort of calculations across a set of rows that are interrelated with the current row. The Windows functions help us to perform aggregated calculations across various partitions or cross-sections of the data.Among these are rolling, expanding, sum, mean, median, variance, covariance, correlation, etc.

Few of are:-

Rolling: The function is used to perforn rolling window operation such as calculation rolling mean, standard deviation and more.

Expanding: it is used to calculate the cumulative sum or cumalitive product of a specified column.

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [29]:
pd.datetime.now().strftime("%B, %Y")

/tmp/ipykernel_1871/2106178235.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  pd.datetime.now().strftime("%B, %Y")

'June, 2023'

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [10]:
import pandas as pd

date1 = input("Enter the first date (YYYY-MM-DD):")
date2 = input("Enter the second date (YYYY-MM-DD):")

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

diff = date2 - date1

days = diff.days

print(f"The difference between {date1.date()} and date {date2.date()} is {days} days :")

Enter the first date (YYYY-MM-DD): 2022-01-09
Enter the second date (YYYY-MM-DD): 2023-09-05

The difference between 2022-01-09 and date 2023-09-05 is 604 days :

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [18]:
filename = input("Enter the file name: ")
data =  pd.read_csv("taxonomy.csv")

column_name = input("Enter column name:")
categorical_data = pd.Categorical(data[column_name])

print(categorical_data)

Enter the file name:  taxonomy
Enter column name: Classification

['Multi-Specialty', 'Single Specialty', 'Allergy & Immunology', 'Allergy & Immunology', 'Allergy & Immunology', ..., 'Secured Medical Transport (VAN)', 'Taxi', 'Train', 'Transportation Broker', 'Transportation Network Company']
Length: 868
Categories (245, object): ['Acupuncturist', 'Adult Companion', 'Advanced Practice Dental Therapist', 'Advanced Practice Midwife', ..., 'Transportation Network Company', 'Urology', 'Veterinarian', 'Voluntary or Charitable']

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [1]:
import pandas as pd
data = ({'Product': ['Alpha', 'Beta', 'Gamma', 'Vega'],
                     'Sales_Mar' : [2000, 3000, 4667, 5332],
                     'Sales_Apr' : [4000, 5000, 6777, 2334],
                     'Sales_May' : [8997, 8765, 6543, 4356]})
df = pd.DataFrame(data)

df.to_csv('sales_data.csv', index = False)

In [2]:
df

  Product  Sales_Mar  Sales_Apr  Sales_May
0   Alpha       2000       4000       8997
1    Beta       3000       5000       8765
2   Gamma       4667       6777       6543
3    Vega       5332       2334       4356

filename = input("Enter the csv file name")
data =  pd.read_csv(filename)

data.plot.bar(x = 'Product', y= ['Sales_Mar', 'Sales_Apr', 'Sales_May'])

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.

The program should do the following: 

Prompt the user to enter the file path of the CSV file containing the student data.

Read the CSV file into a Pandas DataFrame.

Calculate the mean, median, and mode of the test scores using Pandas tools.

Display the mean, median, and mode in a table.

Assume the CSV file contains the following columns:

Student ID: The ID of the studentR

Test Score: The score of the student's test.

Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv

+-----------+--------+
| Statistic | Value |
+-----------+--------+

| Mean | 79.6 |

| Median | 82 |

| Mode | 85, 90 |

+-----------+--------+

Assume that the CSV file student_data.csv contains the following data:

Student ID,Test Score

1,85

2,90

3,80

4,75

5,85

6,82

7,78

8,85

9,90

10,85

The program should calculate the mean, median, and mode of the test scores and display the results in a table.

In [6]:
student_data = {'Student_ID':  [1,2,3,4,5,6,7,8,9,10], 
               'Test_Score': [85,90,80,75,85,82,78,85,90,85]}

data = pd.DataFrame(student_data)

data.to_csv("student_data.csv", index = False)

In [9]:
filename = input("Enter File name")
d1 = pd.read_csv(filename)

d1.mean()['Test_Score'],d1.median()['Test_Score'],d1.mode()['Test_Score']

Enter File name student_data.csv

(83.5,
 85.0,
 0    85.0
 1     NaN
 2     NaN
 3     NaN
 4     NaN
 5     NaN
 6     NaN
 7     NaN
 8     NaN
 9     NaN
 Name: Test_Score, dtype: float64)